.component-customer-order-list__without-details {
  .component-detail-view-table {
    table {
      tbody {
        tr {
          height: 35px;
          td {
            color: #000;
            font-size: 14px;
            .component-customer-order-card__check-button {
              margin-right: 10px;
            }
            span {
              display: inline-block;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}
.component-customer-order-list__with-details {
  .component-detail-view-table {
    width: 45vw;
    overflow: scroll;
    display: block;
    @include mobile {
      display: none;
    }
    table {
      width: max-content;

      tbody {
        tr {
          height: 35px;
          td {
            color: #000;
            font-size: 14px;
            .component-customer-order-card__check-button {
              display: none;
            }
            span {
              display: inline-block;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

.component-customer-order-card {
  width: 95%;
  background-color: #fff;

  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #a5a5a5;
  margin-bottom: 10px;
}
.component-customer-order-card__user-name {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  text-align: right;
}

.component-customer-order-card__tab {
  left: -17px;
  top: 10px;
  margin-right: -1.2em;
  padding-left: 10px;

  color: #fff;
  position: relative;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;

  min-width: max-content;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
}
.component-customer-order-card__tab__status-name {
  padding-right: 1.2rem;
}
.component-customer-order-card__tab::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 0 1em 1.2em 0;
  border-color: transparent;
  border-right-color: inherit;
  width: 0;
  height: 0;
}
.component-customer-order-card__details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.component-customer-order-card__pickup-info,
.component-customer-order-card__payment-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.component-customer-order-card__store-name,
.component-customer-order-card__picked-date,
.component-customer-order-card__payment-method,
.component-customer-order-card__total {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
}
.component-customer-order-card__store-name__title,
.component-customer-order-card__picked-date__title,
.component-customer-order-card__payment-method__title,
.component-customer-order-card__total__title {
  color: #a5a5a5;
  font-weight: bold;
  flex: 1;
  border-left: 3px solid;
  padding-left: 2px;
}
.component-customer-order-card__store-name__value,
.component-customer-order-card__picked-date__value,
.component-customer-order-card__payment-method__value,
.component-customer-order-card__total__value {
  color: #5a5a5a;
  flex: 2;
}
.component-customer-order-card__order-items {
  font-size: 12px;
  padding: 10px;
  color: #a5a5a5;
  height: 30px;
  border-top: 1px solid;
  margin-top: 8px;
  overflow: scroll;
}

/* .roundedTwo */
.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedTwo label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.roundedTwo label:after {
  content: "";
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.roundedTwo label:hover::after {
  opacity: 0.3;
}
.roundedTwo input[type="checkbox"] {
  visibility: hidden;
}
.roundedTwo input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* end .roundedTwo */
