.component-sales-group-selector {
  width: 100%;
  border-bottom: 2px solid #a5a5a5;
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  select {
    height: 60%;
    width: 50%;
    border-radius: 3px;
    color: #8c8c8c;
    font-size: 1.2rem;
    @include mobile {
      font-size: 12px;
    }
  }
  @include mobile {
    height: 5vh;
  }
}
