.component-summary {
  width: 90vw;
  height: 90vh;
  overflow: scroll;
  padding: 10px;
}

.component-summary .component-summary__dashboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component-summary .component-summary__dashboard__sales {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  font-size: 26px;
  font-weight: bold;
  color: #8c8c8c;
  text-shadow: 0 0 2px #a5a5a5;
}

.component-summary__dashboard__sales-by-payment,
.component-summary__dashboard__sales-by-date,
.component-summary__dashboard__sales-by-category,
.component-summary__dashboard__sales-by-customer,
.component-summary__dashboard__sales-by-product,
.component-summary__dashboard__sales-by-store {
  padding: 10px;
  -webkit-box-shadow: 0 0 5px #a5a5a5;
          box-shadow: 0 0 5px #a5a5a5;
  margin: 10px;
  width: 80%;
}

.component-summary__dashboard__sales-by-payment table,
.component-summary__dashboard__sales-by-date table,
.component-summary__dashboard__sales-by-category table,
.component-summary__dashboard__sales-by-customer table,
.component-summary__dashboard__sales-by-product table,
.component-summary__dashboard__sales-by-store table {
  width: 100%;
  border-spacing: 0;
}

.component-summary__dashboard__sales-by-payment table tr,
.component-summary__dashboard__sales-by-date table tr,
.component-summary__dashboard__sales-by-category table tr,
.component-summary__dashboard__sales-by-customer table tr,
.component-summary__dashboard__sales-by-product table tr,
.component-summary__dashboard__sales-by-store table tr {
  height: 30px;
}

.component-summary__dashboard__sales-by-payment table thead th.number span,
.component-summary__dashboard__sales-by-date table thead th.number span,
.component-summary__dashboard__sales-by-category table thead th.number span,
.component-summary__dashboard__sales-by-customer table thead th.number span,
.component-summary__dashboard__sales-by-product table thead th.number span,
.component-summary__dashboard__sales-by-store table thead th.number span {
  border-bottom: 3px solid #ffba2d;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component-summary__dashboard__sales-by-payment table thead th.text span,
.component-summary__dashboard__sales-by-date table thead th.text span,
.component-summary__dashboard__sales-by-category table thead th.text span,
.component-summary__dashboard__sales-by-customer table thead th.text span,
.component-summary__dashboard__sales-by-product table thead th.text span,
.component-summary__dashboard__sales-by-store table thead th.text span {
  border-bottom: 3px solid #ffba2d;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component-summary__dashboard__sales-by-payment table td.text,
.component-summary__dashboard__sales-by-payment table th.text,
.component-summary__dashboard__sales-by-date table td.text,
.component-summary__dashboard__sales-by-date table th.text,
.component-summary__dashboard__sales-by-category table td.text,
.component-summary__dashboard__sales-by-category table th.text,
.component-summary__dashboard__sales-by-customer table td.text,
.component-summary__dashboard__sales-by-customer table th.text,
.component-summary__dashboard__sales-by-product table td.text,
.component-summary__dashboard__sales-by-product table th.text,
.component-summary__dashboard__sales-by-store table td.text,
.component-summary__dashboard__sales-by-store table th.text {
  text-align: left;
  padding-right: 15px;
  text-transform: uppercase;
}

.component-summary__dashboard__sales-by-payment table td.number,
.component-summary__dashboard__sales-by-payment table th.number,
.component-summary__dashboard__sales-by-date table td.number,
.component-summary__dashboard__sales-by-date table th.number,
.component-summary__dashboard__sales-by-category table td.number,
.component-summary__dashboard__sales-by-category table th.number,
.component-summary__dashboard__sales-by-customer table td.number,
.component-summary__dashboard__sales-by-customer table th.number,
.component-summary__dashboard__sales-by-product table td.number,
.component-summary__dashboard__sales-by-product table th.number,
.component-summary__dashboard__sales-by-store table td.number,
.component-summary__dashboard__sales-by-store table th.number {
  text-align: right;
  padding-left: 15px;
}

.component-summary .material-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #a5a5a5;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.component-summary .material-icons:hover {
  color: #ffba2d;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
/*# sourceMappingURL=style.css.map */