@import "../shared/variables.scss";

.component-customer-manage {
  width: calc(90vw - 20px);
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  padding: 0 10px;
  flex-direction: column;
  .component-table {
    align-items: flex-start;
    .user-list {
      width: max-content;
    }
  }
  td {
    .material-icons {
      color: color("main");
    }
  }
  .top-nav {
    height: 10vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 3px solid #d8d8d8;
    a {
      text-decoration: none;
      color: #030303;
      font-weight: bold;
      margin: 1px 5px;
      &.active {
        margin: -3px 5px;
        border-bottom: 3px solid #ffba2d;
      }
    }
  }
}
.update-customer,
.create-customer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
  top: 0;
  left: 10vw;
  position: fixed;
  background-color: color("cover");
  form {
    width: 60%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid color("border");
    background-color: color("bodyBackground");
    border-radius: 5px;
    .form-field {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      select {
        width: 80%;
        height: 35px;
      }

      label {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
          height: 35px;
          width: 80%;
          border: 1px solid color("border");
          border-radius: 3px;
          padding-left: 10px;
          outline: none;
        }
        input::placeholder {
          font-weight: bold;
          color: color("textSubtitle");
        }
        span {
          color: color("textPrimary");
          font-size: 14px;
        }
      }
    }
    button {
      height: height("button");
      width: width("button");
      font-size: 16px;
      font-weight: bold;
      background-color: color("main");
      border-radius: 3px;
      border: 1px solid color("main");
      color: color("textButton");
      box-shadow: 0 0 5px color("boxShadow");
    }
  }
}
