* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}
/* left-side-menu */
.left-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  background-color: #030303;
}
.left-side-menu .icon {
  display: flex;
  justify-content: center;
}
.left-side-menu .icon img {
  transform: scale(0.8);
  border-radius: 50%;
}

.left-side-menu .menu {
  color: white;
  margin-bottom: 50px;
}
.left-side-menu .menu .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  color: white;
  text-decoration: none;
}

.left-side-menu .menu .item .material-icons {
  font-size: 36px;
  margin-bottom: 5px;
}
/* product-manage-main-window */
.product-manage-main-window {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.product-manage-main-window .sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  border-bottom: 3px solid #d8d8d8;
}
.product-manage-main-window .sub-menu .button-container,
.product-manage-main-window .sub-menu .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.product-manage-main-window .sub-menu .button-container button {
  border: none;
  outline: none;
  padding: 5px 15px;
  background-color: #ffba2d;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 0px 3px #a5a5a5;
}
.product-manage-main-window .sub-menu .input-container input {
  font-size: 14px;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  padding: 0px 10px;
}
.product-manage-main-window .sub-menu .link-container {
  width: 200px;
  border: 1px solid #ffba2d;
  display: flex;
}
.product-manage-main-window .sub-menu .link-container a {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.product-manage-main-window .sub-menu .link-container a.active {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  background-color: #ffba2d;
}
/* products-list */
.products-list {
  display: flex;
  justify-content: space-between;
  width: 46vw;
}
.product-list,
.category-list {
  display: flex;
  flex-direction: column;
  height: 87vh;
  overflow: scroll;
}
.category-list {
  flex: 1;
}
.category-list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  overflow: hidden;
  background-color: #f5f6f8;
}

.category-list .item.active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-bottom: 1px solid #d8d8d8;
  border-right: none;
  overflow: hidden;
  font-weight: bold;
  border-left: 3px solid #ffba2d;
  background-color: transparent;
}
/* product - list */
.product-list {
  flex: 3;
  padding: 0 10px;
}

/* product card */
.product-card {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f5f6f8;
  margin-bottom: 10px;
}
.product-card .product-card-header {
  display: flex;
  margin-bottom: 5px;
}
.product-card .product-card-header .product-image-container {
  width: 90px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.product-card .product-card-header .product-image-container img {
  width: 90px;
  height: 64px;
  border-radius: 5px;
}
.product-card .product-card-header .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card .product-card-header .product-info .product-name {
  font-size: 16px;
  font-weight: bold;
}
.product-card .product-card-header .product-info .product-quantity {
  font-size: 14px;
  font-weight: normal;
  color: #a5a5a5;
}
.product-card .product-card-header .product-info .product-price {
  font-size: 18px;
  color: #e94518;
}
.product-card .product-card-footer {
  display: flex;
  justify-content: space-around;
}
.product-card .product-card-footer button {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
}

.product-card .product-card-footer button.active {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid;
  background-color: #ffba2d;
  font-size: 14px;
  font-weight: bold;
}
/* edit form */
.product-manage-main-window .edit-form {
  width: 44vw;
  height: 87vh;
  padding: 10px 20px;
}
.product-manage-main-window .edit-form .form-field {
  display: flex;
  flex-direction: column;
}
.product-manage-main-window .edit-form .form-field .form-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
}
.product-manage-main-window .edit-form .form-field .form-input {
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.product-manage-main-window .edit-form .form-field .form-error-message {
  color: red;
  font-size: 12px;
  padding: 5px 0px;
}
