.component-table {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;

  .material-icons {
    transition: all 600ms ease;
  }
  .add-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 45px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #ffba2d;
    background-color: #ffba2d;
    border-radius: 50%;
    box-shadow: 0 0 8px #5a5a5a;
    color: #fff;
    .material-icons {
      font-size: 32px;
    }
  }
  .tbl-content,
  .tbl-header {
    width: 100%;
    table-layout: fixed;
  }
  table {
    margin-top: 20px;
    width: 80%;
    border-spacing: 0;
    @include mobile {
      width: 100%;
    }
    tr {
      height: 30px;
    }
  }
  td,
  th {
    padding-right: 15px;
    &.text {
      text-align: left;

      .material-icons {
        color: color("main");
      }
    }
    &.number {
      text-align: right;
    }
    @include mobile {
      padding-right: 5px;
    }
  }
  thead {
    th {
      &.number {
        span {
          border-bottom: 3px solid #ffba2d;
          width: 100%;
          display: inline-flex;
          justify-content: flex-end;
          align-items: center;
        }
      }

      &.text {
        span {
          border-bottom: 3px solid #ffba2d;
          width: 100%;
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
}
