@import "./shared/sass/index.scss";
@import "./user/sass/index.scss";
@import "./groupon/sass/index.scss";
@import "./auth/sass/index.scss";
@import "./reports/sass/index.scss";
@import "./catalog/sass/index.scss";
@import "./orders/sass/index.scss";
@import "./shops/sass/index.scss";

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  @include mobile {
    flex-direction: column;
    font-size: 14px;
  }
}
