.component-table {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
.component-table .material-icons {
  transition: all 600ms ease;
}
.component-table .tbl-content,
.component-table .tbl-header {
  width: 100%;
  table-layout: fixed;
}
.component-table table {
  margin-top: 20px;
  width: 80%;
  border-spacing: 0;
}
.component-table table tr {
  height: 30px;
}
.component-table td.text,
.component-table th.text {
  text-align: left;
  padding-right: 15px;
}
.component-table td.number,
.component-table th.number {
  text-align: right;
  padding-left: 15px;
}
.component-table thead th.number span {
  border-bottom: 3px solid #ffba2d;
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.component-table thead th.text span {
  border-bottom: 3px solid #ffba2d;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.component-customer-manage {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  padding: 0 10px;
}

.screen-groupon {
  width: 90vw;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.screen-groupon .sales-group {
  width: 90%;
  height: 45%;
  box-shadow: 0 2px 5px #a5a5a5;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}
.screen-groupon .sales-group .tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen-groupon .sales-group .tab span {
  font-weight: bold;
  padding: 3px 15px;
}
.screen-groupon .sales-group .tab span.active {
  border-bottom: 2px solid #ffba2d;
}
.screen-groupon .sales-group .sale-group {
  width: 100%;
  display: flex;
  flex: 4;
  flex-direction: column;
}
.screen-groupon .sales-group .sale-group h2 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8c8c8c;
}
.screen-groupon .sales-group .sale-group select {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  height: 35px;
}
.screen-groupon .sales-group .sale-group form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}
.screen-groupon .sales-group .sale-group form .form-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-groupon .sales-group .sale-group form .form-field label {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screen-groupon .sales-group .sale-group form .form-field label input {
  height: 35px;
  width: 80%;
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  padding-left: 10px;
  outline: none;
}
.screen-groupon .sales-group .sale-group form .form-field label input::placeholder {
  font-weight: bold;
  color: #a5a5a5;
}
.screen-groupon .sales-group .sale-group form .form-field label span {
  color: #8c8c8c;
  font-size: 14px;
}
.screen-groupon .sales-group .sale-group form button {
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffba2d;
  border-radius: 3px;
  border: 1px solid #ffba2d;
  color: #fff;
  box-shadow: 0 0 5px #a5a5a5;
}
.screen-groupon .store {
  width: 90%;
  height: 45%;
  box-shadow: 0 2px 5px #a5a5a5;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}
.screen-groupon .store .store-list {
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.screen-groupon .store .store-list .store-card {
  width: 100%;
  margin-left: 15px;
  position: relative;
  padding: 10px;
  box-shadow: 0 1px 3px #a5a5a5;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}
.screen-groupon .store .store-list .store-card .information {
  flex: 2;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.screen-groupon .store .store-list .store-card .information .text {
  margin-bottom: 5px;
}
.screen-groupon .store .store-list .store-card .date-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.screen-groupon .store .store-list .store-card .control-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.screen-groupon .store .store-list .store-card .control-panel .material-icons {
  color: #ffba2d;
}

.component-add-category-form {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5a5a5a5;
}

.component-add-category-form__main-container {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 80%;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 0px 0px 10px;
}

.component-add-category-form__title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #5a5a5a;
  font-weight: bold;
}

.component-add-option-to-new-product-form {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #a5a5a5a5;
  height: 100vh;
  width: 100vw;
}

.component-add-option-to-new-product-form__body {
  background-color: #fff;
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #5a5a5a;
}

.component-add-option-to-new-product-form__save-button {
  background-color: #ffba2d;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 0px 0px 5px #a5a5a5;
}

.component-add-option-to-new-product-form__body__select-panel {
  background-color: #a5a5a5a5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 70%;
  flex-direction: column;
  border-radius: 5px;
}

.component-add-option-to-new-product-form__body__option-values {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  flex-wrap: wrap;
  width: 90%;
  height: 70%;
  flex-direction: column;
}

.component-add-option-to-new-product-form__selector {
  width: 90%;
  height: 20%;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  font-weight: bold;
}

.component-add-option-to-new-product-form__title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #5a5a5a;
}

.component-add-option-to-new-product-form__option-value-wrapper {
  height: 40px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-add-option-to-new-product-form__option-value-wrapper input {
  opacity: 0;
}

.component-add-option-to-new-product-form__option-value-info {
  background-color: #a5a5a5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5a5a5a;
  border-radius: 5px;
}

.component-add-option-to-new-product-form__option-name {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: bold;
}

.component-add-option-to-new-product-form__option-value-wrapper input:checked ~ .component-add-option-to-new-product-form__option-value-info {
  background-color: #ffba2d;
}

.react-datepicker__input-container input {
  display: none;
}

.react-datepicker__day--highlighted {
  background-color: #ffba2d;
  color: #fff;
}

.react-datepicker-wrapper {
  opacity: 1;
}

.component-catalog-manage-main-window {
  width: 90vw;
  height: 100vh;
  overflow: scroll;
}

.component-catalog-top-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 7vh;
  border-bottom: 3px solid #d8d8d8;
}

.component-catalog-top-menu__link {
  text-decoration: none;
  color: #030303;
  font-weight: bold;
  margin: 1px 5px;
}

.component-catalog-top-menu__link-active {
  color: #030303;
  font-weight: bold;
  margin: -3px 5px;
  border-bottom: 3px solid #ffba2d;
  text-decoration: none;
}

.component-category-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  border: 1px solid #a5a5a5;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  color: #5a5a5a;
}

.component-category-card__name {
  font-size: 1.2rem;
  font-weight: bold;
}

.component-category-card__number {
  font-size: 14px;
  align-self: flex-end;
  color: #a5a5a5;
}

.component-category-form {
  width: 100%;
  height: 80%;
  overflow: scroll;
}

.component-category-form__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.component-category-form__input {
  border-radius: 5px;
  height: 60px;
  width: 65%;
  border: 1px solid #a5a5a5;
  background-color: #fff;
  font-size: 20px;
  padding: 0px 10px;
  outline: none;
}

.component-category-form__input::placeholder {
  color: #a5a5a5;
  font-weight: bold;
  margin-left: 10px;
}

.component-category-form__button {
  width: 120px;
  height: 40px;
  outline: none;
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  background-color: #ffba2d;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 0px 2px #a5a5a5;
}

.component-category-form__upload-image_input {
  position: absolute;
  opacity: 0;
}

.component-category-form__upload-image_label {
  background-color: #df474b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 40px;
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #a5a5a5;
  box-shadow: 0 0 5px #5a5a5a;
}

.component-category-form__upload-image_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 25vh;
  width: 45vh;
}

.component-category-form__upload-image__img-container {
  /* flex: 1; */
  width: 180px;
  height: calc(25vh - 100px);
  padding: 3px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  border-radius: 3px;
}

.component-category-form__upload-image__img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.component-category-form__text-input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 45vw;
  height: 25vh;
}

.component-category-grid {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 50vh;
  overflow: scroll;
  width: 100%;
  margin: 20px auto;
  padding: 20px 0px;
  border-bottom: 2px solid #a5a5a5;
  position: relative;
}

.component-category-grid__add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 45px;
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #ffba2d;
  background-color: #ffba2d;
  border-radius: 50%;
  box-shadow: 0 0 8px #5a5a5a;
  color: #fff;
}

.component-category-grid__add-button .material-icons {
  font-size: 32px;
}

.component-category-grid-item {
  width: 30%;
  height: 140px;
  border-radius: 5px;
  border: 1px solid #a5a5aa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
}

.component-category-grid-item__name {
  flex: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #a5a5aa;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.component-category-grid-item__number-of-products {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a5a5a5;
  font-size: 14px;
}

.component-category-grid-item__close,
.component-category-grid-item__active {
  position: absolute;
  top: -12px;
  right: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.component-category-grid-item__active {
  background-color: #d5fb9a;
}

.component-category-grid-item__close {
  background-color: #f55747;
}

.component-category-manage-main-window {
  width: 100%;
  height: 93vh;
  overflow: scroll;
  background-color: #f5f6f8;
}

.component-chart-manage-main-window {
  width: 90vw;
  height: 100vh;
  overflow: scroll;
}

.component-chart-manage-main-window__dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.component-chart-manage-main-window__dashboard__sales {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  font-size: 26px;
  font-weight: bold;
  color: #8c8c8c;
  text-shadow: 0 0 2px #a5a5a5;
}

.component-chart-manage-main-window__dashboard__sales-by-date {
  flex: 1;
  padding: 50px;
}

.component-create-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.component-create-category__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-size: 22px;
  font-weight: bold;
  color: #8c8c8c;
}

.component-create-option {
  width: 100%;
  height: 67vh;
  overflow: scroll;
}

.component-create-option__title {
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #8c8c8c;
  font-size: 22px;
  font-weight: bold;
}

.component-create-product {
  height: 87vh;
  overflow: scroll;
}

.component-create-product__title {
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  color: #8c8c8c;
  font-weight: bold;
  font-size: 22px;
}

.component-customer-order-card {
  width: 95%;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #a5a5a5;
  margin-bottom: 10px;
}

.component-customer-order-card__user-name {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  text-align: right;
}

.component-customer-order-card__tab {
  left: -17px;
  top: 10px;
  margin-right: -1.2em;
  padding-left: 10px;
  color: #fff;
  position: relative;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  min-width: max-content;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
}

.component-customer-order-card__tab__status-name {
  padding-right: 1.2rem;
}

.component-customer-order-card__tab::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 0 1em 1.2em 0;
  border-color: transparent;
  border-right-color: inherit;
  width: 0;
  height: 0;
}

.component-customer-order-card__details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.component-customer-order-card__pickup-info,
.component-customer-order-card__payment-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.component-customer-order-card__store-name,
.component-customer-order-card__picked-date,
.component-customer-order-card__payment-method,
.component-customer-order-card__total {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
}

.component-customer-order-card__store-name__title,
.component-customer-order-card__picked-date__title,
.component-customer-order-card__payment-method__title,
.component-customer-order-card__total__title {
  color: #a5a5a5;
  font-weight: bold;
  flex: 1;
  border-left: 3px solid;
  padding-left: 2px;
}

.component-customer-order-card__store-name__value,
.component-customer-order-card__picked-date__value,
.component-customer-order-card__payment-method__value,
.component-customer-order-card__total__value {
  color: #5a5a5a;
  flex: 2;
}

.component-customer-order-card__order-items {
  font-size: 12px;
  padding: 10px;
  color: #a5a5a5;
  height: 30px;
  border-top: 1px solid;
  margin-top: 8px;
  overflow: scroll;
}

/* .roundedTwo */
.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.roundedTwo label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}

.roundedTwo label:after {
  content: "";
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
  opacity: 0.3;
}

.roundedTwo input[type=checkbox] {
  visibility: hidden;
}

.roundedTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .roundedTwo */
.component-customer-order-list__with-details {
  width: 45vw;
  padding: 10px;
  background-color: #f5f6f8;
  height: 80vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.4s ease;
}

.component-customer-order-list__without-details {
  width: 90vw;
  padding: 10px;
  background-color: #f5f6f8;
  height: 90vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.4s ease;
}

.component-customer-order-list__pagination__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 24px;
}

.component-customer-order-list__pagination__container input {
  font-size: 14px;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  padding: 0px 10px;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #a5a5a5;
  width: 200px;
  height: 40px;
}

.link-item {
  text-decoration: none;
  color: #a5a5a5;
}

.link-item-active {
  color: #ffba2d;
}

.first-page-button {
  color: #ffba2d;
}

.last-page-button {
  color: #ffba2d;
}

.component-date-ranger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  border-bottom: 3px solid #a5a5a5;
  padding-right: 80px;
}

.component-date-ranger label {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.component-date-ranger__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.component-date-ranger__text__title {
  font-size: 12px;
  color: #5a5a5a;
}

.component-date-ranger__text__value {
  color: #5a5a5a;
}

.component-edit-form {
  background-color: #f5f6f8;
  height: calc(87vh - 60px);
  overflow: scroll;
}

.component-edit-form__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}

.component-edit-form__bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;
}

.component-edit-form__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-form input[type=text] {
  margin-bottom: 2px;
  padding: 0px 10px;
  border: none;
}

.edit-form input[type=text]::placeholder {
  color: #d2d2d2;
  font-size: 14px;
  font-weight: bold;
}

.component-edit-form__subtitle {
  padding: 5px;
  font-size: 12px;
  color: #a5a5a5;
  font-weight: bold;
  margin: 5px 0px;
}

.component-edit-form__button-group {
  margin: 10px 0px;
}

.component-edit-form__button-group__input {
  height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.component-edit-form__button-group__label {
  border: 1px solid #a5a5a5;
  background-color: #ecedee;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

.component-edit-form__button-group__extra-label {
  border: 1px solid #a5a5a5;
  background-color: #ecedee;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}

.component-edit-form__button-group__wrapper {
  display: flex;
}

.component-eidt-form__subtitle__button {
  float: right;
  background-color: #f55747;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #a5a5a5;
}

.component-edit-form__button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
  margin-top: 10px;
}

.component-edit-form__submit-button {
  background-color: #ffba2b;
  border: 1px solid #ffba2b;
  padding: 10px 15px;
  box-shadow: 0px 0px 5px #a5a5a5;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.component-edit-form__options {
  padding: 5px;
  font-size: 12px;
  color: #a5a5a5;
  font-weight: bold;
  margin: 5px 0px;
  border-bottom: 1px solid #a5a5a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-edit-form__options__value-name {
  padding-right: 20px;
}

.component-edit-form__options_remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.component-edit-form__options_remove-button .material-icons {
  font-size: 20px;
}

.component-edit-form__upload-image_input {
  position: absolute;
  opacity: 0;
}

.component-edit-form__upload-image_label {
  background-color: #df474b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 15px;
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #a5a5a5;
  margin-bottom: 5px;
  box-shadow: 0 0 5px #5a5a5a;
}

.component-edit-form__upload-image_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.component-edit-form__upload-image__img-container {
  /* flex: 1; */
  width: 180px;
  height: 128px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  border-radius: 3px;
}

.component-edit-form__upload-image__img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.component-edit-form__big-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupon-switch__on,
.groupon-switch__off {
  width: 80%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 0 3px #a5a5a5;
  border-radius: 3px;
  margin: auto;
}

.groupon-switch__on {
  color: #8c8c8c;
  background-color: #74ef74;
}

.groupon-switch__off {
  color: #000;
  background-color: #df474b;
}

.component-left-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  background-color: #030303;
}

.component-left-side-menu__icon {
  display: flex;
  justify-content: center;
}

.component-left-side-menu__icon img {
  transform: scale(0.8);
  border-radius: 50%;
}

.component-left-side-menu__menu {
  color: white;
  margin-bottom: 50px;
}

.component-left-side-menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  color: white;
  text-decoration: none;
}

.component-left-side-menu__item .material-icons {
  font-size: 36px;
  margin-bottom: 5px;
}

.component-left-side-menu__item.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  color: #ffba2d;
  text-decoration: none;
}

.component-option-form {
  height: calc(67vh - 45px);
  overflow: scroll;
  width: 100%;
}

.component-option-form form {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.component-option-form form .form-input,
.component-option-form form .form-select {
  height: 35px;
  width: 60%;
  margin-bottom: 10px;
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  padding: 0px 10px;
  outline: none;
}

.component-option-form form .form-input::placeholder,
.component-option-form form .form-select::placeholder {
  color: #a5a5a5;
  font-weight: bold;
  font-size: 16px;
}

.component-option-form form .form-select {
  color: #5a5a5a;
  font-weight: bold;
  font-size: 16px;
}

.component-option-form__option-value-group {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.component-option-form__option-value-group__input {
  height: 35px;
  width: 40%;
  border-radius: 3px;
  border: 1px solid #a5a5a5;
  padding: 0px 10px;
}

.component-option-form__add-new-row {
  background-color: #ffba2d;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0px 0px 10px #a5a5a5;
  font-weight: bold;
}

.component-option-form__button {
  background-color: #5a5a5a;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #5a5a5a;
  box-shadow: 0px 0px 10px #a5a5a5;
  font-weight: bold;
  outline: none;
  margin-top: 30px;
}

.component-option-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 30vh;
  width: 100%;
  overflow: scroll;
}

.component-option-list-item {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 120px;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  margin: 10px;
  align-items: center;
}

.component-option-list-item__info {
  border-bottom: 1px solid #a5a5a5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.component-option-list-item__info__name {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #a5a5a5;
  height: 100%;
}

.component-option-list-item__info__type {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-option-list-item__values {
  height: 80%;
  overflow: scroll;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  color: #8c8c8c;
  font-size: 14px;
}

.component-order-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45vw;
  padding: 10px;
}

.component-order-detail table td {
  border: 1px solid #a5a5a5;
  padding: 2px;
}

.component-order-detail table thead {
  background-color: #5a5a5a;
  color: #fff;
  font-weight: bold;
}

.component-order-detail table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.component-order-detail__header__field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main-window {
  display: flex;
  justify-content: flex-start;
}

.component-order-top-nav {
  height: 10vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 3px solid #d8d8d8;
}

.component-order-top-nav a {
  text-decoration: none;
  color: #030303;
  font-weight: bold;
  margin: 1px 5px;
}

.component-order-top-nav a.active {
  margin: -3px 5px;
  border-bottom: 3px solid #ffba2d;
}

.component-product-form-category-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.component-product-form-category-selector__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.component-product-form-category-selector__header__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-product-form-category-selector__body {
  width: 100%;
  height: 300px;
  overflow: scroll;
}

.component-product-form-category-selector__body__add-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  border: 1px solid #a5a5a5;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 5px;
  color: #5a5a5a;
}

.component-product-form-category-selector__body__add-button .material-icons {
  color: #ffba2d;
}

.component-produt-form-category-selector__body__add-button-label {
  font-size: 1.2rem;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.component-order-manange-main-window {
  height: 100vh;
  width: 90vw;
  overflow: scroll;
}

.product-manage-main-window .sub-menu .link-container span {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.product-manage-main-window .sub-menu .link-container span.active {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  background-color: #ffba2d;
}

/* product-manage-main-window */
.product-manage-main-window {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.product-manage-main-window .sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  border-bottom: 3px solid #d8d8d8;
}

.product-manage-main-window .sub-menu .button-container,
.product-manage-main-window .sub-menu .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.product-manage-main-window .sub-menu .button-container button {
  border: none;
  outline: none;
  padding: 5px 15px;
  background-color: #ffba2d;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 0px 3px #a5a5a5;
}

.product-manage-main-window .sub-menu .input-container input {
  font-size: 14px;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  padding: 0px 10px;
}

.product-manage-main-window .sub-menu .link-container {
  width: 200px;
  border: 1px solid #ffba2d;
  display: flex;
}

.product-manage-main-window .sub-menu .link-container a {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.product-manage-main-window .sub-menu .link-container a.active {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  background-color: #ffba2d;
}

/* products-list */
.products-list {
  display: flex;
  justify-content: space-between;
  width: 46vw;
}

.product-list,
.category-list {
  display: flex;
  flex-direction: column;
  height: 87vh;
  overflow: scroll;
}

.category-list {
  flex: 1;
}

.category-list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  overflow: hidden;
  background-color: #f5f6f8;
}

.category-list .item.active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-bottom: 1px solid #d8d8d8;
  border-right: none;
  overflow: hidden;
  font-weight: bold;
  border-left: 3px solid #ffba2d;
  background-color: transparent;
}

/* product - list */
.product-list {
  flex: 3;
  padding: 0 10px;
}

/* product card */
.product-card {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f5f6f8;
  margin-bottom: 10px;
}

.product-card .product-card-header {
  display: flex;
  margin-bottom: 5px;
}

.product-card .product-card-header .product-image-container {
  width: 90px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.product-card .product-card-header .product-image-container img {
  width: 90px;
  height: 64px;
  border-radius: 5px;
}

.product-card .product-card-header .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .product-card-header .product-info .product-name {
  font-size: 16px;
  font-weight: bold;
}

.product-card .product-card-header .product-info .product-quantity {
  font-size: 14px;
  font-weight: normal;
  color: #a5a5a5;
}

.product-card .product-card-header .product-info .product-price {
  font-size: 18px;
  color: #e94518;
}

.product-card .product-card-footer {
  display: flex;
  justify-content: space-around;
}

.product-card .product-card-footer button {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
}

.product-card .product-card-footer button.active {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid;
  background-color: #ffba2d;
  font-size: 14px;
  font-weight: bold;
}

/* edit form */
.product-manage-main-window .edit-form {
  width: 44vw;
  height: 87vh;
  padding: 10px 20px;
}

.product-manage-main-window .edit-form .form-field {
  display: flex;
  flex-direction: column;
}

.product-manage-main-window .edit-form .form-field .form-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
}

.product-manage-main-window .edit-form .form-field .form-input {
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.product-manage-main-window .edit-form .form-field .form-error-message {
  color: red;
  font-size: 12px;
  padding: 5px 0px;
}

.component-product-order-list {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vw;
  overflow: scroll;
}

.product-order-list__product-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 30px 30px 30px;
  align-items: baseline;
  border-bottom: 0.7px solid #d4d4d4;
}

.component-product-order-card {
  display: flex;
  margin-top: 10px;
  width: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.component-product-order-card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-product-order-card__name {
  font-size: 20px;
  font-weight: bold;
  color: #727272;
}

.component-product-order-card__quantity {
  font-weight: bold;
  color: #b3b3b3;
}

.component-product-order-card__process-bar {
  background-color: #f7f7f7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15px;
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.component-product-order-card__bar {
  background-color: #ffba2d;
  height: 15px;
  border-top: 2px solid #e39e10;
}

.component-product-order-card__quantity__sold {
  color: #ffba2d;
}

.component-product-order-card__quantity-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.component-shop-card {
  width: 90%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #a5a5a5;
}

.component-shop-card__information {
  padding: 10px;
  width: 100%;
  display: flex;
  height: 80%;
  overflow: scroll;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #a5a5a5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;
}

.component-shop-card__information div {
  margin-bottom: 10px;
}

.component-shop-card__date {
  border: 1px solid #a5a5a5;
  padding: 5px;
  margin-right: 20px;
  background-color: #0000008f;
  border-radius: 5px;
}

.component-shop-card__button {
  background-color: #ffba2d;
  width: 100px;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #a5a5a5;
}

.component-shop-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90vh;
  overflow: scroll;
  background-color: #f5f6f8;
}

.component-shop-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-shop-form__tag-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-right: 6px;
}

.component-shop-form__open-date-tags {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #ffba2d;
  color: white;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.component-shop-form__tag-dismiss {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a5a5a;
  color: #ffba2d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.component-shop-form__tag-dismiss .material-icons {
  font-size: 16px;
  padding: 4px;
}

.react-datepicker-wrapper {
  opacity: 0;
  width: 40px;
}

.component-shop-form__form {
  overflow: scroll;
  width: 40vw;
}

.component-shop-form__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}

.component-shop-form__bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;
}

.component-shop-form__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-shop-form__form input[type=text] {
  margin-bottom: 2px;
  padding: 0px 10px;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  height: 35px;
  width: 90%;
  margin-top: 10px;
}

.component-shop-form__form input[type=text]::placeholder {
  color: #d2d2d3;
  font-size: 14px;
  font-weight: bold;
}

.component-shop-form__subtitle {
  padding: 5px;
  font-size: 12px;
  color: #a5a5a5;
  font-weight: bold;
  margin: 5px 0px;
}

.component-shop-form__button-group {
  margin: 10px 0px;
}

.component-shop-form__button-group__input {
  height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.component-shop-form__button-group__label {
  border: 1px solid #a5a5a5;
  background-color: #ecedee;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

.component-shop-form__button-group__extra-label {
  border: 1px solid #a5a5a5;
  background-color: #ecedee;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}

.component-shop-form__button-group__wrapper {
  display: flex;
}

.component-shop-form__button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0px 20px;
}

.component-shop-form__button-submit {
  background-color: #ffba2d;
  border: 1px solid #fff;
  height: 35px;
  width: 75px;
  border-radius: 5px;
  box-shadow: 0 0 5px #a5a5a5;
}

.component-shop-form__date-picker__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-shop-form__date-picker__title {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: bold;
}

.component-shop-form__open-dates__list {
  height: 40vh;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: scroll;
  width: 40vw;
  padding: 20px;
}

.component-shop-list {
  height: 90vh;
  width: 50vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.shop-manage-main-window__main-content {
  display: flex;
  justify-content: space-between;
  height: 93vh;
  overflow: scroll;
  padding-top: 20px;
  width: 90vw;
}

.component-shop-top-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 7vh;
  border-bottom: 3px solid #d8d8d8;
}

.component-shop-top-nav__anchor.active {
  margin: -3px 5px;
  border-bottom: 3px solid #ffba2d;
}

.component-shop-top-nav__anchor {
  text-decoration: none;
  color: #030303;
  font-weight: bold;
  margin: 1px 5px;
}

.component-store-order-list {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
}

.component-store-order-list__store {
  width: 260px;
  border-radius: 5px;
  box-shadow: 0 0 3px #a5a5a5;
  padding: 10px 15px;
  margin: 10px;
}

.component-store-order-list__store__header {
  border-bottom: 1px solid #a5a5a55e;
  margin-bottom: 10px;
  height: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #8c8c8c;
}

.component-store-order-list__store__product-list p {
  font-size: 16px;
  font-weight: bold;
  color: #ffba2d;
  margin-bottom: 5px;
}

.component-store-order-list__store__product-list table {
  width: 100%;
  border-spacing: 0;
}

.component-store-order-list__store__product-list td.text,
.component-store-order-list__store__product-list th.text {
  text-align: left;
  padding-right: 15px;
  text-transform: uppercase;
}

.component-store-order-list__store__product-list td.number,
.component-store-order-list__store__product-list th.number {
  text-align: right;
  padding-left: 15px;
}

.component-store-order-list__store__product-list thead th.number span {
  border-bottom: 3px solid #ffba2d;
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.component-store-order-list__store__product-list thead th.text span {
  border-bottom: 3px solid #ffba2d;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.component-store-order-list__store__product-list tr {
  height: 30px;
}

.component-store-order-list__store__product-list__product-card {
  border-bottom: 1px solid #a5a5a58f;
  padding-bottom: 8px;
}

.component-update-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.component-update-category__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-size: 22px;
  font-weight: bold;
  color: #8c8c8c;
}

.component-update-option {
  width: 100%;
  height: 67vh;
  overflow: scroll;
}

.component-update-option__title {
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #8c8c8c;
  font-size: 22px;
  font-weight: bold;
}

.component-update-product {
  height: 87vh;
  overflow: scroll;
}

.component-update-product__title {
  font-size: 22px;
  margin: 15px 0px;
  font-weight: bold;
  color: #5a5a5a;
}

.component-edit-product__title {
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  color: #8c8c8c;
  font-weight: bold;
  font-size: 22px;
}

/*# sourceMappingURL=App.css.map */
