.component-catalog-top-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 7vh;
  border-bottom: 3px solid #d8d8d8;
  @include mobile {
    height: 5vh;
  }
}
.component-catalog-top-menu__link {
  text-decoration: none;
  color: #030303;
  font-weight: bold;
  margin: 1px 5px;
}
.component-catalog-top-menu__link-active {
  color: #030303;
  font-weight: bold;
  margin: -3px 5px;
  border-bottom: 3px solid #ffba2d;
  text-decoration: none;
}
