.component-edit-form {
  background-color: #f5f6f8;
  height: 87vh;
  overflow: scroll;
}
.component-edit-form__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}
.component-edit-form__bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;
}
.component-edit-form__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-form input[type="text"] {
  margin-bottom: 2px;
  padding: 0px 10px;
  border: none;
}

.edit-form input[type="text"]::placeholder {
  color: #d2d2d2;
  font-size: 14px;
  font-weight: bold;
}
.component-edit-form__subtitle {
  padding: 5px;
  font-size: 12px;
  color: #a5a5a5;
  font-weight: bold;
  margin: 5px 0px;
}
.component-edit-form__button-group {
  margin: 10px 0px;
}
.component-edit-form__button-group__input {
  height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.component-edit-form__button-group__label {
  border: 1px solid #a5a5a5;
  background-color: #ecedee;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
.component-edit-form__button-group__extra-label {
  border: 1px solid #a5a5a5;
  background-color: #ecedee;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}
.component-edit-form__button-group__wrapper {
  display: flex;
}
.component-eidt-form__subtitle__button {
  float: right;
  background-color: #f55747;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #a5a5a5;
}
.component-edit-form__button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
  margin-top: 10px;
}
.component-edit-form__submit-button {
  background-color: #ffba2b;
  border: 1px solid #ffba2b;
  padding: 10px 15px;
  box-shadow: 0px 0px 5px #a5a5a5;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.component-edit-form__options {
  padding: 5px;
  font-size: 12px;
  color: #a5a5a5;
  font-weight: bold;
  margin: 5px 0px;
  border-bottom: 1px solid #a5a5a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-edit-form__options__value-name {
  padding-right: 20px;
}
.component-edit-form__options_remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.component-edit-form__options_remove-button .material-icons {
  font-size: 20px;
}

.component-edit-form__upload-image_input {
  position: absolute;
  opacity: 0;
}
.component-edit-form__upload-image_label {
  background-color: #df474b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 40px;
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #a5a5a5;

  box-shadow: 0 0 5px #5a5a5a;
}
.component-edit-form__upload-image_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.component-edit-form__upload-image__img-container {
  /* flex: 1; */
  width: 180px;
  height: calc(25vh - 100px);
  padding: 3px;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  border-radius: 3px;
}
.component-edit-form__upload-image__img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
