.component-left-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  background-color: #030303;
  @include mobile {
    flex-direction: row;
    width: 100vw;
    height: 15vh;
  }
}
.component-left-side-menu__icon {
  display: flex;
  justify-content: center;
  @include mobile {
    width: 60px;
  }
}
.component-left-side-menu__icon img {
  transform: scale(0.8);
  border-radius: 50%;
  @include mobile {
    transform: scale(0.4);
  }
}

.component-left-side-menu__menu {
  color: white;
  margin-bottom: 50px;
  @include mobile {
    margin-bottom: 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-right: 10px;
  }
}
.component-left-side-menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  color: white;
  text-decoration: none;
  &.active {
    color: color("main");
  }
  .material-icons {
    font-size: 36px;
    margin-bottom: 5px;
  }
  @include mobile {
    height: auto;
    font-size: 12px;
  }
}
