.component-order-manange-main-window {
  height: 100vh;
  width: 90vw;
  overflow: scroll;
}
.product-manage-main-window .sub-menu .link-container span {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.product-manage-main-window .sub-menu .link-container span.active {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  background-color: #ffba2d;
}

/* product-manage-main-window */
.product-manage-main-window {
  display: flex;
  flex-direction: column;
  width: 90vw;
  @include mobile {
    width: 100vw;
  }
  .sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    border-bottom: 3px solid #d8d8d8;
    @include mobile {
      padding: 0 10px;
    }
    .input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      input {
        font-size: 14px;
        width: 80%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #d8d8d8;
        padding: 0px 10px;
      }
      @include mobile {
        display: none;
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;

      @include mobile {
        width: auto;
      }
      button {
        border: none;
        outline: none;
        padding: 5px 15px;
        background-color: #ffba2d;
        border-radius: 5px;
        font-size: 16px;
        box-shadow: 0px 0px 3px #a5a5a5;
        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
}

.product-manage-main-window .sub-menu .link-container {
  width: 200px;
  border: 1px solid #ffba2d;
  display: flex;
  @include mobile {
    font-size: 14px;
  }
}
.product-manage-main-window .sub-menu .link-container a {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.product-manage-main-window .sub-menu .link-container a.active {
  text-decoration: none;
  color: #030303;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  background-color: #ffba2d;
}
/* products-list */
.products-list {
  display: flex;
  justify-content: space-between;
  width: 42vw;
}
.product-list,
.category-list {
  display: flex;
  flex-direction: column;
  height: 87vh;
  overflow: scroll;
}
.category-list {
  flex: 1;
  @include mobile {
    display: none;
  }
}
.category-list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  overflow: hidden;
  background-color: #f5f6f8;
}

.category-list .item.active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-bottom: 1px solid #d8d8d8;
  border-right: none;
  overflow: hidden;
  font-weight: bold;
  border-left: 3px solid #ffba2d;
  background-color: transparent;
}
/* product - list */
.product-list {
  flex: 3;
  padding: 0 10px;
  @include mobile {
    height: 74vh;
  }
  .item {
    h3 {
      @include mobile {
        margin: 3px 0;
        font-size: 14px;
        color: color("textPrimary");
      }
    }
  }
}

/* product card */
.product-card {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f5f6f8;
  margin-bottom: 10px;
  @include mobile {
    border: 1px solid color("border");
  }
}
.product-card .product-card-header {
  display: flex;
  margin-bottom: 5px;
}
.product-card .product-card-header .product-image-container {
  width: 90px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  @include mobile {
    display: none;
  }
}

.product-card .product-card-header .product-image-container img {
  width: 90px;
  height: 64px;
  border-radius: 5px;
}
.product-card .product-card-header .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile {
    width: 100%;
    height: auto;
  }
}
.product-card .product-card-header .product-info .product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  @include mobile {
    font-size: 12px;
  }
}
.product-card .product-card-header .product-info .product-quantity {
  font-size: 14px;
  font-weight: normal;
  color: #a5a5a5;
  display: none;
}
.product-card .product-card-header .product-info .product-price {
  font-size: 18px;
  color: #e94518;
  @include mobile {
    font-size: 14px;
  }
}
.product-card .product-card-footer {
  display: flex;
  justify-content: space-around;
  @include mobile {
    width: 100%;
    justify-content: space-between;
  }
}
.product-card .product-card-footer button {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  @include mobile {
    border-radius: 3px;
    width: 45px;
    height: 20px;
    font-size: 12px;
    border-color: #fff;
    box-shadow: 0 0 3px;
  }
}

.product-card .product-card-footer button.active {
  background-color: #ffba2d;
}
/* edit form */
.product-manage-main-window .edit-form {
  width: 44vw;
  height: 87vh;
  padding: 10px 20px;
  overflow: scroll;
  @include mobile {
    height: 70vh;
    width: 52vw;
    padding: 5px;
  }
}
.product-manage-main-window .edit-form .form-field {
  display: flex;
  flex-direction: column;
}
.product-manage-main-window .edit-form .form-field .form-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
}
.product-manage-main-window .edit-form .form-field .form-input {
  font-size: 16px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  max-width: 90%;
}
.product-manage-main-window .edit-form .form-field .form-error-message {
  color: red;
  font-size: 12px;
  padding: 5px 0px;
}
