.component-product-order-card__image-container {
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-product-order-card__image-container img {
  width: 95%;
  height: 95%;
}
.component-product-order-card__info {
  display: flex;
}
.component-product-order-card__process-bar {
  background-color: #a5a5a5a5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  margin: 10px 0px;
  position: relative;
}
.component-product-order-card__bar {
  background-color: green;
  height: 35px;
  width: 20%;
}
.component-product-order-card__quantity {
  position: absolute;
  top: 0;
  left: 50%;
}
