.component-product-order-list {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vw;
  overflow: scroll;
}
.product-order-list__product-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 30px 30px 30px;
  align-items: baseline;
  border-bottom: 0.7px solid #d4d4d4;
}
