.component-product-form-category-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.component-product-form-category-selector__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.component-product-form-category-selector__header__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component-product-form-category-selector__body {
  width: 100%;
  height: 300px;
  overflow: scroll;
}
.component-product-form-category-selector__body__add-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  border: 1px solid #a5a5a5;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 5px;
  color: #5a5a5a;
}
.component-product-form-category-selector__body__add-button .material-icons {
  color: #ffba2d;
}
.component-produt-form-category-selector__body__add-button-label {
  font-size: 1.2rem;
  font-weight: bold;
}
