.component-shop-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90vh;
  overflow: scroll;
  background-color: #f5f6f8;
}
.component-shop-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component-shop-form__tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.component-shop-form__open-date-tags {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #ffba2d;
  color: white;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.component-shop-form__tag-dismiss {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a5a5a;
  color: #ffba2d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.component-shop-form__tag-dismiss .material-icons {
  font-size: 16px;
  padding: 4px;
}
.react-datepicker-wrapper {
  opacity: 0;
  width: 40px;
}

.component-shop-form__form {
  overflow: scroll;
  width: 40vw;
}
.component-shop-form__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}
.component-shop-form__bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;
}
.component-shop-form__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-shop-form__form input[type="text"] {
  margin-bottom: 2px;
  padding: 0px 10px;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  height: 35px;
  width: 90%;
  margin-top: 10px;
}

.component-shop-form__form input[type="text"]::placeholder {
  color: #d2d2d3;
  font-size: 14px;
  font-weight: bold;
}
.component-shop-form__subtitle {
  padding: 5px;
  font-size: 12px;
  color: #a5a5a5;
  font-weight: bold;
  margin: 5px 0px;
}
.component-shop-form__button-group {
  margin: 10px 0px;
}
.component-shop-form__button-group__input {
  height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.component-shop-form__button-group__label {
  border: 1px solid #a5a5a5;
  background-color: #ecedee;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
.component-shop-form__button-group__extra-label {
  border: 1px solid #a5a5a5;
  background-color: #ecedee;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}
.component-shop-form__button-group__wrapper {
  display: flex;
}
.component-shop-form__button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0px 20px;
}
.component-shop-form__button-submit {
  background-color: #ffba2d;
  border: 1px solid #fff;
  height: 35px;
  width: 75px;
  border-radius: 5px;
  box-shadow: 0 0 5px #a5a5a5;
}
