.component-shop-top-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 7vh;
  border-bottom: 3px solid #d8d8d8;
}
.component-shop-top-nav__anchor.active {
  margin: -3px 5px;
  border-bottom: 3px solid #ffba2d;
}
.component-shop-top-nav__anchor {
  text-decoration: none;
  color: #030303;
  font-weight: bold;
  margin: 1px 5px;
}
