* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.shop-manage-main-window__main-content {
  display: flex;
  justify-content: space-between;
  height: 93vh;
  overflow: scroll;
  padding-top: 20px;
  width: 90vw;
}
