.component-product-order-card {
  display: flex;
  margin-top: 10px;
  width: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
      font-size: 20px;
      font-weight: bold;
      color: #727272;
    }
    .quantity {
      font-weight: bold;
      color: #b3b3b3;
      .quantity__sold {
        color: #ffba2d;
      }
    }
  }
  .process-bar {
    background-color: #f7f7f7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15px;
    position: relative;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    .bar {
      background-color: #ffba2d;
      height: 15px;
      border-top: 2px solid #e39e10;
    }
  }
}

// .quantity-container {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-bottom-left-radius: 5px;
//   border-bottom-right-radius: 5px;
// }
